#main-illustration {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    position: absolute;
}

#main-illustration img {
    width: 957px;
}

#greeting {
    padding-top: 270px;
    text-align: center;
    line-height: 2.7rem;
}

#greeting-top-text {
    color: rgba(255, 255, 255, 0.7);
}

#prompt-suggestions {
    width: 50%;
    margin-left: 25%;
    display: flex;
}

.prompt-suggestion-column {
    width: 100%;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-content: right;
}

.prompt-suggestion {
    width: 100%;
    margin-top: 8px;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
}

.prompt-suggestion p {
    margin-left: 8px;
    margin-right: 8px;
}

.prompt-suggestion-title {
    margin-top: 8px;
    font-weight: 600;
}

.prompt-suggestion-subtitle {
    color: #FFFFFFB2;
    margin-bottom: 8px;
}

.prompt-suggestion-subtitle a {
    float: right;
}

#custom-prompt {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#custom-prompt-input {
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #FFFFFFB2;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#custom-prompt-button {
    width: 5%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFFB2;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#custom-prompt-button:hover {
    cursor: pointer;
}
